.search-button{
    color: #5b964e;
    background-color: white;
    border: none;
    width: auto;
    font-size: larger;
}
.head-button{
    background-color: #5b964e;
    border: none;
    color: white;
    display: flex;
    font-size: 0.9rem;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    border-left: white solid 0.5px;
}
.menu-container{
    display: flex;
}
.button-container{
    display: flex;
}
.upper-sect{
    display: flex;
    padding: 0 0 0 1rem;
    justify-content: space-between;
}


.contact{
    display: flex;
    justify-content: end;
    gap: 0.8rem;
    padding: 1rem;
}

.menu-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    font-weight: 800;
    font-size: small;
    >a{
        text-decoration: none;
        color: #928d87;
     }   
}
.custom-hr{
    border: none;
    border-top: 1px dashed #4a4848; /* Dashed stroke */
    width: 95%;
    height: 0;

}
.menu-list{
    list-style: none;
    display: flex;
    padding-right: 2.5rem;
    justify-content: space-around;
    >li>a{
        color: rgb(66, 64, 64);
        font-weight: bolder;
        font-size: large;
    }
    li em {
        color: #a4a1a1;
        font-size: medium;
        text-transform: lowercase;
    }

}
a{
    text-decoration: none;
}

.bottom-hr{
    border: none;
    border-top: 1px dashed #6c6a6a;
    height: 0;
}